body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 223, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:28px;
  top:30px;
  width:640px;
  height:1136px;
}
#u168 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:20px;
}
#u169 {
  position:absolute;
  left:31px;
  top:43px;
  width:636px;
  height:20px;
}
#u170 {
  position:absolute;
  left:2px;
  top:2px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u171 {
  position:absolute;
  left:43px;
  top:102px;
  width:23px;
  height:23px;
}
#u172 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u173 {
  position:absolute;
  left:213px;
  top:94px;
  width:272px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:311px;
}
#u175 {
  position:absolute;
  left:193px;
  top:388px;
  width:311px;
  height:311px;
}
#u176 {
  position:absolute;
  left:2px;
  top:148px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
}
#u177 {
  position:absolute;
  left:240px;
  top:356px;
  width:216px;
  height:32px;
}
#u178 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:271px;
  top:364px;
  width:155px;
  height:16px;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u181 {
  position:absolute;
  left:196px;
  top:986px;
  width:55px;
  height:55px;
}
#u182 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u183 {
  position:absolute;
  left:446px;
  top:986px;
  width:55px;
  height:55px;
}
#u184 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:209px;
  top:1051px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u187 {
  position:absolute;
  left:459px;
  top:1051px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u189 {
  position:absolute;
  left:948px;
  top:1034px;
  width:37px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:283px;
}
#u191 {
  position:absolute;
  left:205px;
  top:402px;
  width:286px;
  height:283px;
}
#u192 {
  position:absolute;
  left:2px;
  top:134px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u193 {
  position:absolute;
  left:330px;
  top:715px;
  width:36px;
  height:36px;
}
#u194 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u195 {
  position:absolute;
  left:320px;
  top:754px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:43px;
  top:99px;
  width:28px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u198 {
  position:absolute;
  left:312px;
  top:715px;
  width:73px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u199 {
  position:absolute;
  left:437px;
  top:986px;
  width:73px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
