body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:94px;
  width:1108px;
  height:71px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u3 {
  position:absolute;
  left:192px;
  top:0px;
  width:192px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:30px;
}
#u5 {
  position:absolute;
  left:384px;
  top:0px;
  width:506px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:502px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
}
#u7 {
  position:absolute;
  left:890px;
  top:0px;
  width:213px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:209px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:192px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u11 {
  position:absolute;
  left:192px;
  top:30px;
  width:192px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:36px;
}
#u13 {
  position:absolute;
  left:384px;
  top:30px;
  width:506px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:502px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:36px;
}
#u15 {
  position:absolute;
  left:890px;
  top:30px;
  width:213px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
  background:inherit;
  background-color:rgba(17, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:979px;
  top:16px;
  width:145px;
  height:68px;
}
#u19 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u20 {
  position:absolute;
  left:970px;
  top:39px;
  width:164px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:979px;
  top:16px;
  width:145px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
